<h1>Listing alertas</h1>

<table>
  <tr>
    <th>Contenido</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @alertas.each do |alerta| %>
  <tr>
    <td><%= alerta.contenido %></td>
    <td><%= link_to 'Show', alerta %></td>
    <td><%= link_to 'Edit', edit_alerta_path(alerta) %></td>
    <td><%= link_to 'Destroy', alerta, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Alerta', new_alerta_path %>
