<div class= "dias">

<div id="wrap">
  <div id="col1">
    <h1 class = "13"><%=@alert.lugar %></h1>
    <h2 class = "16"><%= @alert.content%></h2>
    <!--<input type="button" value="Geocode" onclick="codeAddress()">-->
   <h1>Comentarios</h1>
    <%if @comentarios.blank?%>
      <p>No hay respuestas todavía. <%=link_to "Se el primero!", new_alert_comment_path(@alert.id)%></p>
    <%else%>
      <ul>
	  <%@comentarios.each do |t|%>
	      <li class = "nones"><h2 class="star"><%=t.content%></h4></li>
	      <br/>
	  <%end%>
      </ul>
      <%= will_paginate @comentarios%>
      <p><%=link_to "Tienes una mejor respuesta!  COMENTA!! .", new_alert_comment_path(@alert.id)%></p>
    <%end%>
  </div>
  
</div>
</div>